/*Styles by Tag */
body {
    text-align: center;
    margin: 0;
    background-color: #EAF6f6;
}

h1 {
    font-size: 5rem;
    margin: 50px auto 10px auto;
    font-family: 'Merienda', cursive;
    color: #66BFBF;
}

div {
    display: block;
}

h2 {
    font-size: 1.8rem;
    margin-top: 0px auto 0px auto;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    margin: 50px auto 50px auto;
}

/*Styles by class */
.top-container {
    position: relative;
    padding-top: 100px;
    margin-top: 30px;
}

.middle-container {
    position: relative;
    margin: 50px auto 0px auto;
}

.bottom-container {
    position: relative;
    margin: 50px auto 0px auto;
    background-color: #66BFBF;
    width: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    font-size: 1.25rem;
}

.hello {
    font-family: 'Permanent Marker', cursive;
}

.profile-description {
    color: #40514E;
}

.header {
    margin-top: 0;
    font-family: 'Homemade Apple', cursive;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 350px;
    bottom: 300px;
}
.mountain{
    opacity: 0.8;
}

.image {
    height: 175px;
    width: 200px;
    border-radius: 20px 20px;
}

.htmllogo {
    width: 25%;
    border-radius: 25px 25px;
    float: right;
    margin-left: 30px;
}

.skills {
    margin: 30px auto 0px auto;
}

.my-skills {
    font-family: 'Permanent Marker', cursive;
}

.skills-img {
    width: 25%;
    border-radius: 25px 25px;
    float: left;
    margin-right: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.tmwrk {
    color: #11999E;
}

.webdev {
    color: #11999E;
}

.skill-info {
    line-height: 2;
}

.team {
    line-height: 2;
}

.team-quote {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}

.butn {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 22px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 100px auto 0px auto;
}

.butn:hover {
    background: #66BFBF;
    text-decoration: none;
}

.linkedin {
    position: relative;
    right: 80px;
    top: 30px;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
}
.linkedin:hover{
    color:#ffffff;
    font-size: 1.5rem;
}

.twitter {
    position: relative;
    right: 0px;
    top: 30px;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
}
.twitter:hover{
    color:#ffffff;
    font-size: 1.5rem;
}

.website {
    position: relative;
    top: 30px;
    left: 80px;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
}
.website:hover{
    color:#ffffff;
    font-size: 1.5rem;
}

.copyright {
    position: relative;
    top: 60px;
    color: #EAF6f6;
    font-size: .75rem;
}